<div style="display:grid;grid-template-columns:repeat(4,1fr);gap:.5rem;" class="cal-but">
        <div>
            <button (click)="click('C')">C</button>
        </div>
        <div>
            <button (click)="click('DEL')">DEL</button>
        </div>
        <div>
            <button (click)="click('%')">%</button>
        </div>
        <div>
            <button (click)="click('/')">/</button>
        </div>
        <div>
            <button (click)="click('1')">1</button>
        </div>
        <div>
            <button (click)="click('2')">2</button>
        </div>
        <div>
            <button (click)="click('3')">3</button>
        </div>
        <div>
            <button (click)="click('+')">+</button>
        </div>
        <div>
            <button (click)="click('4')">4</button>
        </div>
        <div>
            <button (click)="click('5')">5</button>
        </div>
        <div>
            <button (click)="click('6')">6</button>
        </div>
        <div>
            <button (click)="click('-')">-</button>
        </div>
        <div>
            <button (click)="click('7')">7</button>
        </div>
        <div>
            <button (click)="click('8')">8</button>
        </div>
        <div>
            <button (click)="click('9')">9</button>
        </div>
        <div>
            <button (click)="click('*')">*</button>
        </div>
        <div style="grid-column: 1/3">
            <button (click)="click('0')">0</button>
        </div>
        <div>
            <button (click)="click('.')">.</button>
        </div>
        <div>
            <button (click)="click('=')">=</button>
        </div>
</div>
